.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: #f8f8f8;
  padding: 20px;
}

.auth-box {
  background-color: #ffffff;
  padding: 30px 25px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.auth-box h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #5A002B;
}

.auth-box label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
  color: #333;
}

.auth-box input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.auth-box .btn-auth {
  background-color: #AD974F;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.auth-box .btn-auth:hover {
  background-color: #916F33;
}

.auth-box .switch-link {
  display: block;
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.auth-box .switch-link a {
  color: #5A002B;
  font-weight: bold;
  text-decoration: none;
}

.auth-box .switch-link a:hover {
  text-decoration: underline;
}
